<div
  class="container-fluid d-flex justify-content-center align-items-center detail p-4"
>
  <div class="row">
    <div class="col-12">
      <div class="card-container d-flex mb-3">
        <div class="card-general d-flex flex-column p-4">
          <p class="title text-center">
            {{ "details.Farmer" | translate }} {{ productData.farmerName }}
          </p>
          <div class="pt-0 row mx-auto my-auto align-items-center d-flex">
            <img
              [src]="productData.image"
              alt="badge image"
              class="img-fluid"
            />
          </div>
          <div class="row mt-3">
            <div class="col  mb-2">
              <p class="paragraph">
                {{ "details.Name" | translate }}: {{ productData.name }}
              </p>
              <p class="paragraph">
                {{ "details.Type" | translate }}: {{ productData.type }}
              </p>
              <p class="paragraph">
                {{ "details.Origin" | translate }}: {{ productData.origin }}
              </p>
              <p class="paragraph">
                {{ "details.Ripen" | translate }}:
                {{ productData.ripeningTime }}
              </p>
              <p class="paragraph">
                {{ "details.Price" | translate }}:
                {{ productData.pricePerKilo }}
              </p>
              <app-back-button ></app-back-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
